<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:fragment="page_head(title)">
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<header th:fragment="header_page()">
  <nav id="navbar">
    <div class="container">
      <h1 class="logo"><a href="#">MyWishList</a></h1>
      <ul>
        <li><a href="/home" th:class="${title == 'home' ? 'current' : ''}" >Home</a></li>
        <li><a href="/create" th:class="${title == 'create' ? 'current' : ''}">CreateYourWish</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="#" >Help</a></li>
        <li><a href="#" >Account</a></li>
        <li><a href="#" >Login</a></li>
      </ul>
    </div>
  </nav>
</header>

</html>